body {
	background:#fff;
}

h1 {
	font-family:'PublicoText-SemiBold';
	font-weight:normal;
	color:#212121;
}

header {
	width:100%;
	background:#010101;
	height:55px;
	padding:2px 0px;
}
header #header-logo {
	display: inline-block;
 	float: left;
}
header a img {
	height:51px;
}
header .row {
	max-width:95%;
}

header .right {
	float:right;
}
.social{
	margin-right: 10px;
}
.social i {
	color: #fff;
	font-size: 35px;
	margin: 5px 5px 3px 8px;
	cursor: pointer;
}

#content{
	margin-top:20px;
}

#content .row {
	max-width:90%;
}


#text-row h3 {
	padding-top:100px;
	position:relative;
	font-family:'Boomer-Light';
	color:#212121;
	letter-spacing:3px;
	text-transform:uppercase;
	font-size:22px;
}

#text-row p {
	font-family:'Boomer-Light';
	font-size:14px;
	color:#212121;
	letter-spacing:0.5px;
}

#click-thru div {
	vertical-align: top;
	display:inline-block;
	padding:5px 10px;
	margin:0px auto;
	border-radius:3px;
	border:1px solid #212121;
	text-align:center;
	opacity:1;
	transition:all 0.3s ease;
	cursor:pointer;
/*	background:rgb(198, 219, 239);*/
}
#click-thru div:hover {
/*	background:rgb(222, 235, 247);*/
	opacity:0.4;
}


#click-thru div#back {
	float:left;
	display:none;
}
#click-thru div#next{
	float:right;
}
#click-thru a span {
	font-family:'Boomer-Light';
	text-transform:uppercase;
	letter-spacing:1px;
	color:#212121;
	font-size:18px;
	vertical-align: bottom;
	line-height:1.7em;
	padding:0px 10px;
	transition:all 0.3s ease;
}
#click-thru a i {
	color:#212121;
	font-size:24px;
	vertical-align: top;
	transition:all 0.3s ease;
}

#tooltip {
	border:1px solid #ddd;
	background:#fff;
	padding:5px;
	display:none;
	max-width:200px;
	max-height:150px;
	position:absolute;
	z-index:10000;
}
#tooltip p.region {
	font-family:'Boomer';
	font-weight:bold;
	font-size:12px;
	color:#121212;
	margin:0;
	line-height:1.2;
	padding:0;
}
#tooltip p.count {
	font-family:'Boomer-Book';
	font-size:12px;
	color:#121212;
	margin:0;
	line-height:1.2;
	padding:0;
}

#map {
	z-index:1000;
	/*position:fixed;*/
	width:100%;
}

#map .us {
	fill:#eee;
}

svg {
	shape-rendering:auto;
}

.us path {
	cursor:pointer;
	stroke:#555;
	stroke-opacity:1;
	stroke-width:0.5px;
}

.georgia path {
	stroke:none;
	fill:#ccc;
}

circle.metro-dot {
	fill:rgb(222, 235, 247);
	fill-opacity:0.5;
	stroke:rgb(222, 235, 247);
	stroke-opacity:1;
	stroke-width:0.5px;
}
